<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create | Funkoshop</title>
    <link rel="stylesheet" href="../css/create.css">
</head>

<body>
    <%- include('./header2')%>
    <main class="main container">
        <form class="form" action="/admin/create" method="POST" enctype="multipart/form-data">
            <h1 class="create__title">CREAR NUEVO ITEM</h1>
            <div class="form__data1">
                <span class="cat__lic">
                    <label for="category">Categoría:</label>
                    <select name="category" id="category">
                        <option selected>Seleccionar</option>
                        <option value="1">Funkos</option>
                        <option value="2">Remeras</option>
                        <option value="3">Llaveros</option>
                    </select>
                </span>
                <span class="cat__lic">
                    <label for="licence">Licencia:</label>
                    <select name="licence" id="license">
                        <option selected>Seleccionar</option>
                        <option value="1">Pokemon</option>
                        <option value="3">Harry Potter</option>
                        <option value="2">Star Wars</option>
                    </select>
                </span>
            </div>
            <div class="form__data2">
                <span class="name">
                    <label for="name">Nombre del producto:</label>
                    <input type="text" name="name" placeholder="Kakashi Hatake Shippuden Saga" id="name">
                </span>
                <textarea name="description"placeholder="Descripción del producto" id="descripcion" cols="30" rows="10"></textarea>
            </div>
            <div class="form__data3">
                <span>
                    <label for="serial">SKU:</label>
                    <input type="text" name="sku" placeholder="SSK111AB001" id="serial">
                </span>
                <span>
                    <label for="price">Precio:</label>
                    <input type="text" name="price" placeholder="$ 0.000,00" id="price">
                </span>
                <span>
                    <label for="stock">Stock:</label>
                    <input type="text" name="stock" placeholder="   0 " id="stock">
                </span>
            </div>
            <div class="form__data4">
                <span>
                    <label for="discount">Descuento:</label>
                    <input type="text" name="discount" placeholder="   0% " id="discount">
                </span>
                <span>
                    <label for="payment">Cuotas:</label>
                    <select name="dues" id="payment">
                        <option selected>Seleccionar</option>
                        <option value="1">3 Cuotas sin interés</option>
                        <option value="2">6 Cuotas sin interés</option>
                        <option value="3">12 Cuotas sin interés</option>
                    </select>
                </span>
            </div>
            <div class="form__data5">
                <label for="formFileMultiple" class="form-label">Imágenes</label>
                <input class="form-control" name="images" type="file" id="formFileMultiple" multiple>
            </div>
            <div class="form__data6">
                <input type="submit" id="submit" value="Agregar Producto">
                <input type="reset" id="reset" value="Limpiar">
            </div>
        </form>
    </main>
    <%- include('./footer')%>
</body>

</html>