<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a class="navbar__link" href="/">
                <img src="../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop"></a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="/shop">VER TIENDA<iconify-icon
                        icon="ion:chevron-down"></iconify-icon></a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/admin">ADMIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/login">SALIR</a>
            </li>
        </ul>
    </nav>
</header>